* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex_centering {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* HEADER */
.container {
  width: 100vw;
  height: 100vh;
  background: #e59646;
  /*
  background: #e59646;
  background: -webkit-radial-gradient(bottom left, #e59646, #cc235a);
  background: -moz-radial-gradient(bottom left, #e59646, #cc235a);
  background: radial-gradient(to top right, #e59646, #cc235a);
  */
}
.calculator {
  width: 75%;
  height: 80%;
  background: #f1f1f1;
  border-radius: 20px;
}
/* HEADER */
.header {
  height: 20%;
}
.calc__cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  background: green;
}
.input_container {
  width: 100%;
  height: 20%;
  background: red;
}
#start-date-input {
  padding: 1rem 3.5rem 1rem 0.75rem;
  font-size: 1rem;
  font-family: monospace;
  border: 1px solid #8292a2;
  border-radius: 0.25rem;
  height: 80%;
}
#start-date-input:focus {
  outline: none;
  border-color: #8292a2;
  border: 2px solid #8292a2;
}
.send_cont {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  background: blue;
}
.calculator__submit {
  width: 50%;
  height: 30%;
  background-color: green;
}
#send {
  text-align: center;
  width: 70%;
  height: 100%;
}
.calculator__display,
.output {
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.output_dates {
  background-color: #645;
  width: 30%;
  height: 100%;
}

@media (max-width: 1000px) {
  .calculator__inputs-container {
    flex-direction: column;
  }
  .calculator__inputs-container input {
    width: 80%;
    padding: 10px;
    margin: 10px;
  }
}
